[Install]
WantedBy=multi-user.target

[Unit]
Description={{service_name}} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f %n

ExecStart=/usr/bin/docker run --name %n \
{% if docker_container.volumes.data != "" %}
     --volume {{docker_container.volumes.data}}:/var/ts3server \
{% endif %}
{% if docker_container.volumes.log != "" %}
     --volume {{docker_container.volumes.log}}:/var/ts3server/logs \
{% endif %}
{% if docker_container.volumes.files != "" %}
     --volume {{docker_container.volumes.files}}:/var/ts3server/files \
{% endif %}
{% if docker_container.publish.ports.default != "" %}
     --publish {{docker_container.publish.interface}}:{{docker_container.publish.ports.default}}:9987/udp \
{% endif %}
{% if docker_container.publish.ports.filetransfer != "" %}
     --publish {{docker_container.publish.interface}}:{{docker_container.publish.ports.filetransfer}}:30033/tcp \
{% endif %}
{% if docker_container.publish.ports.serverquery != "" %}
     --publish {{docker_container.publish.interface}}:{{docker_container.publish.ports.serverquery}}:10011/tcp \
{% endif %}
{% if accept_license | bool %}
     --env TS3SERVER_LICENSE=accept \
{% endif %}
            {{docker_image.name}}:{{docker_image.tag}}

ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker rm -f %n

Restart=always
RestartSec=60s
TimeoutSec=3600
