[Install]
WantedBy=multi-user.target

[Unit]
Description={{teamspeak_service_name}} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=/usr/bin/docker pull teamspeak:{{teamspeak_version}}

ExecStart=/usr/bin/docker run --name %n \
{% if teamspeak_data_volume != "" %}
     --volume {{teamspeak_data_volume}}:/var/ts3server \
{% endif %}
{% if teamspeak_log_volume != "" %}
     --volume {{teamspeak_log_volume}}:/var/ts3server/logs \
{% endif %}
{% if teamspeak_files_volume != "" %}
     --volume {{teamspeak_files_volume}}:/var/ts3server/files \
{% endif %}
{% if teamspeak_port != "" %}
     --publish {{teamspeak_interface}}:{{teamspeak_port}}:9987/udp \
{% endif %}
{% if teamspeak_filestransfer_port != "" %}
     --publish {{teamspeak_interface}}:{{teamspeak_filestransfer_port}}:30033/tcp \
{% endif %}
{% if teamspeak_serverquery_port != "" %}
     --publish {{teamspeak_interface}}:{{teamspeak_serverquery_port}}:10011/tcp \
{% endif %}
{% if teamspeak_accept_license | bool %}
     --env TS3SERVER_LICENSE=accept \
{% endif %}
            teamspeak:{{teamspeak_version}}

ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker rm -f %n

Restart=always
RestartSec=60s
TimeoutSec=3600
