[Install]
WantedBy = multi-user.target

[Unit]
Description = teamspeak service
After       = docker.service
Requires    = docker.service

[Service]
ExecStartPre = -/usr/bin/docker rm -f {{container_name}}
ExecStartPre = -/usr/bin/docker build --tag {{image_name}}:{{image_version}} {{dockerfile_path}}
ExecStart = /usr/bin/docker run --name {{container_name}} \
{% if data_volume != "" %}
            --volume {{data_volume}}:/data \
{% endif %}
{% if log_volume != "" %}
            --volume {{log_volume}}:/data/logs \
{% endif %}
{% if default_port != "" %}
            --publish {{interface}}:{{default_port}}:9987 \
{% endif %}
{% if filetransfer_port != "" %}
            --publish {{interface}}:{{filetransfer_port}}:30033 \
{% endif %}
{% if serverquery_port != "" %}
            --publish {{interface}}:{{serverquery_port}}:10011 \
{% endif %}
{% if weblist_port != "" %}
            --publish {{interface}}:{{weblist_port}}:2010 \
{% endif %}
{% if tsdns_port != "" %}
            --publish {{interface}}:{{tsdns_port}}:41144 \
{% endif %}
{% if accounting_port != "" %}
            --publish {{interface}}:{{accounting_port}}:2008 \
{% endif %}
            {{image_name}}:{{image_version}}
ExecStop  = -/usr/bin/docker stop {{container_name}}
ExecStopPost  = -/usr/bin/docker rm -f {{container_name}}
Restart = always
RestartSec = 60s
TimeoutSec=60
